*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: papayawhip;
  margin: 50px;
}

#logo {
  font-size: 12px;
  text-transform: uppercase;
  color: peru;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.container {
  margin: 50px auto;
  outline: 1px solid rgba(0,0,0,0.05);
  padding: 50px;
  background: #fff;
  max-width: 650px;
}

h1 {
  color: peru;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  margin: 0 0 10px;
}

ul li label {
  display: block;
  margin-bottom: 5px;
}

ul li input[type="text"] {
  -webkit-appearance: none;
  display: block;
  padding: 0 6px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.4);
  width: 100%;
}

ul li input[type="text"]:disabled {
  background: #f3f3f3;
  border-color: #ccc;
}

ul li input[type="submit"] {
  margin: 10px 0 0;
  display: block;
  -webkit-appearance: none;
  border-radius: 4px;
  background-color: papayawhip;
  color:peru;
  border: 1px solid peru;
  font-size: 14px;
  line-height: 24px;
  padding: 0 12px;
}

input[type="text"] {
  min-width: 200px;
  display: block;
}

.invisible {
  display: none;
}
